process {
    cpus   = 2
    memory = 6.GB
    time   = 4.h

    withLabel:process_low    { cpus = 2;  memory = 6.GB;  time = 4.h  }
    withLabel:process_medium { cpus = 6;  memory = 24.GB; time = 8.h  }
    withLabel:process_high   { cpus = 12; memory = 48.GB; time = 16.h }

    errorStrategy = 'retry'
    maxRetries    = 1
}