process {
    withName: 'SEQSERO2_READS' {
        ext.args   = { "-m ${params.seqsero2_reads_mode} -t ${params.seqsero2_reads_datatype}" }
        publishDir = [
            path: { "${params.outdir}/seqsero2/amplicon_reads/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SEQSERO2_ASSEMBLY' {
        ext.args   = { "-m k -t 4" }
        publishDir = [
            path: { "${params.outdir}/seqsero2/assembly/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'CUTADAPT_SIMULATE' {
        publishDir = [
            path: { "${params.outdir}/simulated_amplicons/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SEQSERO2_SIMULATED' {
        ext.args   = { "-m ${params.seqsero2_reads_mode} -t ${params.seqsero2_sim_datatype}" }
        publishDir = [
            path: { "${params.outdir}/seqsero2/simulated_amplicon/${meta.id}" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'COMPARE_SEROTYPES' {
        publishDir = [
            path: { "${params.outdir}/comparison" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }
}